.feed {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.feed__inner {
  display: flex;
  justify-content: space-between;
}

.feed__profile {
  border-radius: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 300px;
  background: var(--gray-extra-dark);
}

.feed__profile-cap {
  width: 100%;
}

.feed__profile-cap_img {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem 1rem 0 0;
}

.feed__profile-info {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding: 1rem 0;
}

.feed__profile-circle {
  margin-top: -3rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.feed__profile-circle_img {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: contain;
}

.feed__profile-name {
  color: var(--white);
  text-align: center;
  margin: 0.5rem 0;
}

.feed__profile-username {
  color: var(--gray);
  margin: 0.5rem 0;
  font-size: 12px;
  text-align: center;
}

.feed__profile-bio {
  text-align: center;
  color: var(--white);
  margin: 0.5rem 0;
}

.feed__profile-stats {
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  position: relative;
}

.feed__profile-following {
  color: var(--white);
}

.feed__profile-divider::after {
  content: '';
  position: absolute;
  height: 50%;
  width: 1px;
  background: var(--white);
}

.feed__profile-followers {
  color: var(--white);
}

.feed__profile-link {
  text-align: center;
  padding: 1rem;
  color: var(--primary);
}

/* Feed Follow */

.feed__follow {
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  background: var(--gray-extra-dark);
}

.feed__follow-title {
  color: var(--white);
  font-weight: 500;
  text-align: center;
  font-size: 18px;
}

.feed__follow-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
}

.feed__follow-card_img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
}

.feed__follow-card_info-name {
  color: var(--white);
}

.feed__follow-card_info-username {
  color: var(--primary);
  font-size: 12px;
}

.feed__follow-card_btn {
  padding: 0.5rem 1rem;
  background: var(--white);
  border: none;
  cursor: pointer;
  color: var(--black);
  border-radius: 1rem;
}

.feed__follow-more {
  color: var(--primary);
  text-align: start;
  width: 100%;
  margin: 1rem 0;
  font-size: 14px;
}

/* feed main  */

.feed__main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  width: 100%;
}

.feed__input-container {
  border-radius: 2rem;
  background: var(--gray-extra-dark);
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.feed__input-form_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feed__input-input {
  padding: 1rem;
  outline: 0;
  border-radius: 1rem;
  border: none;
  background: var(--gray);
  color: var(--white);
}

.feed__input-input::placeholder {
  color: var(--white);
}

.feed__input-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
}

.feed__input-options {
  display: flex;
  gap: 1rem;
}

.feed__input-btn {
  outline: 0;
  border-radius: 2rem;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background 0.2s linear;
  background: var(--gray-extra-dark);

  font-weight: 500;
  color: var(--white);
  cursor: pointer;
}

.feed__input-btn:hover {
  color: var(--black);
  background: var(--white);
}

/* feed trends */

.feed__trends {
  min-width: 300px;
  width: 100%;
  background: var(--gray-extra-dark);
  border-radius: 1rem;
  color: var(--white);
  padding: 1.5rem;
}

.feed__trends-hash_block {
  display: flex;
  justify-content: space-between;
}

.feed__trends-title_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.feed__trends-title {
  color: var(--white);
  font-weight: 600;
  text-align: center;
}

.feed__trends-subtitle {
  color: var(--gray-extra-dark);
  text-transform: capitalize;
  margin: .5rem 0;
}

.feed__trends-hash_block-subtitle {
  color: var(--gray);
}

/* Post Form */
.feed__post-form_overlay {
  max-height: 1920px;
  position: absolute;
  max-width: 2000px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.feed__post-form {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  border-radius: 10px;
  background: var(--gray-extra-dark);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  z-index: 10;

  @media(max-width: 500px) {
    max-width: 360px;
  }
}

.feed__post-form_title-container {
  display: flex;
}

.feed__post-form_title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--white);
  flex: 1;
}

.feed__post-form_title-icon {
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
}

.feed__post-form_input,
.feed__post-form_btn {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  color: var(--black);
  resize: none;
  border: 1px solid var(--white);
}

.feed__post-form-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.feed__post-image {
  color: var(--white);
}

.feed__post-image_input {
  display: none;
}

.feed__post-drag-drop {
  border: 2px dashed #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.feed__post-drag {
  width: 100%;
  max-height: 400px;

  object-fit: contain;
}

.feed__post-drag-drop p {
  color: #aaa;
  font-size: 16px;
  margin-top: 10px;
}

/* .post-modal .drag-drop.drag-over {
  background-color: #f9f9f9;
  border-color: #aaa;
} */

.feed__post-form_upload-btn {
  background-color: transparent;
  color: var(--white);
  font-weight: bold;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin: 5rem 0;
  transition: all 0.2s linear;
}

.feed__post-form_upload-btn:hover {
  /*     background: var(--black); */
  box-shadow: 1px 1px 2px 2px #777;
}

.feed__post-form_btn {
  background: var(--primary);
  color: #fff;
  border: 0;
  transition: background-color 0.2s ease;
  cursor: pointer;
  margin: 2rem 0;
}

.feed__post-form_btn:hover {
  background-color: var(--gray);
}

/* feed post  */

.feed__post {
  display: flex;
  padding: clamp(0.5rem, 1rem, 1.5rem);
  background: var(--gray-extra-dark);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  gap: 0.5rem;
  color: var(--white);
}

.feed__post-img img {
  object-fit: contain;
  width: 100%;
}

.feed__post-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.feed__post-title_author {
  font-size: clamp(14px, 18px, 20px);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.feed__post-title_author a {
  text-decoration: none;
  font-size: 12px;
  list-style: none;
  color: var(--gray);
}

.feed__post-title_time {
  color: var(--gray);
  font-size: 12px;
}

.feed__post-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem 0;
  display: flex;
}
