/* profile image */

.profile-image {
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__clear {
    width: 60%;
    position: relative;
    box-shadow: 0 5px 75px 0 rgba(0, 0, 0, 0.65);
    z-index: 3;
  }

  &__cut {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    z-index: 3;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }

  &__blur {
    width: 100%;
    height: 100%;
    filter: blur(0.25rem);
    position: absolute;
  }
}

.profile-info {

  &__container {
    max-width: 1150px;
    width: 100%;
    margin: 4rem auto;
    margin-bottom: 8rem;
    background: var(--bc);
  }

  &__inner {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    justify-self: flex-start;

    @media screen and (max-width: 800px) {
      justify-content: center;
    }
  }

  &_user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  &_user-edit {
    cursor: pointer;

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__file-input_label {
    padding: 1rem 0;
    display: flex;
  }

  &__follow-btn {
    padding: 0.5rem;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
  }

}

/* profile info */


.profile-info__file-input {
  display: none;
}

.profile-info__file-input_btn {
  padding: 0.5rem;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}

.profile-info__file-input_btn:hover {
  transform: translateY(-3%);
}

.profile-info__image {
  object-fit: contain;
  max-width: 600px;
  max-height: 300px;
  width: 100%;
}

.profile-info__details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin: 1rem 2rem;
  width: 100%;
  max-width: 400px;
}

.profile-info__username {
  color: var(--white);
  font-size: 2.5rem;

  @media screen and (max-width: 600px) {
    text-align: center;
    font-size: 18px;
  }

  @media screen and (max-width: 800px) {
    font-size: 20px;
  }

  @media screen and (max-width: 1000px) {
    font-size: 22px;
  }
}


.profile-info__bio {
  color: var(--white);
  font-size: calc(var(--paragraph) + 0.1rem);
  line-height: 1.8rem;
  transition: color 0.25s ease-in-out;
  margin-bottom: 2rem;

  @media screen and (max-width: 600px) {
    text-align: center;
  }
}

.profile-info__link {
  color: var(--blue-darker);
  text-decoration: none;
  cursor: pointer;
}

/* profile posts */

.posts__container {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--bc);
}

.posts__tags {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 2rem;
}

.posts__divider {
  padding: 2rem 0;
}

.posts__divider::before {
  content: '';
  position: absolute;
  height: 2px;
  background: var(--bc-bright);
  width: 100%;
}

.posts__posts {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--paragraph);
  transition: color 0.2s linear;
  cursor: pointer;
}

.posts__images {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--paragraph);
  transition: color 0.2s linear;
  cursor: pointer;
}

.posts__saved {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--paragraph);
  transition: color 0.2s linear;
  cursor: pointer;
}

.posts__posts:hover,
.posts__images:hover,
.posts__saved:hover {
  color: var(--gray);
}

.posts__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 750px) {
  .posts__wrapper {
    justify-content: center;
  }
}

/* profile post */
.post__card {
  width: 371px;
  height: 371px;
  position: relative;
  cursor: pointer;
}

.post__card-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: background 0.3s linear;
  z-index: 10;
}

.post__card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post__card-overlay:hover {
  background: rgba(0, 0, 0, 0.55);
  opacity: 1;
}

.post__card-likes {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  left: 0;
  top: 0;
  color: var(--white);
  font-size: 18px;
}

.post__card-likes:hover {
  opacity: 1;
}

.post__card-like {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.post__card-comment {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.posts__load-more {
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.profile__form-overlay {
  max-height: 1920px;
  position: absolute;
  max-width: 2000px;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.profile__form {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;

  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  border-radius: 10px;
  background: var(--gray-extra-dark);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  z-index: 10;
}

.profile__form-title {
  padding-inline: 1rem;
  color: var(--white);
}

.profile__form-username_wrapper,
.profile__form-bio_wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.profile__form-username,
.profile__form-bio {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 16px;
  background: #fff;
  border: 1px solid #e6e6e6;
  transition: all 0.2s linear;
}

.profile__form_username-label,
.profile__form_bio-label {
  color: var(--white);
}

.profile__form-submit {
  background: #fff;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  line-height: 1.2;
  border: none;
  border-radius: 1.5rem;
  padding: 15px 30px;
  margin-inline: 1rem;
  cursor: pointer;
  transition: background 0.2s linear;
}

.profile__form-submit:hover {
  background: #333;
  color: #fff;
}
