.drawer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  background: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 0.5rem;
  max-width: 350px;
}

.drawer__overlay {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  transition: background 0.3s linear;
  background: rgba(0, 0, 0, 0.4);
}

.drawer--open {
  width: 100%;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.drawer__close {
  cursor: pointer;
}

.drawer__title {
  color: var(--white);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.drawer__back {
  margin: 1rem;
  cursor: pointer;
}

.drawer__results-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* user card */

.user-card {
  display: flex;
  border: 1px solid var(--white);
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.user-card:hover {
  background: var(--gray);
}

.user-card__img-container {
  width: 50px;
  height: 50px;
}

.user-card__img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user-card__text-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.user-card__username {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.user-card__message {
  color: #fff;
}

/* drawer chat */
.chat__room {
  padding: 0.5rem;
  height: 90vh;
}

.chat__room-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
  height: 90vh;
}

.chat__room-username {
  color: var(--white);
  align-items: center;
}

.chat__room-messages {
  overflow-y: auto;
}

.chat__room-input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.chat__room-input {
  border: 1px solid #fff;
  background: #fff;
  border-radius: 5px;
  padding: 0.5rem;
  outline: none;
  font-size: 15px;
  overflow-y: auto;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 75px;
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
}

.chat__room-message {
  padding: 6px 5px 7px;
  -webkit-border-radius: 20px 20px 20px 0;
  -moz-border-radius: 20px 20px 20px 0;
  border-radius: 20px 20px 20px 0;
  background: #eee;
  margin: 8px 0;
  max-width: 150px;
  min-width: 50px;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  word-break: break-word;
  overflow-y: hidden;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.chat__room-message--our {
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 20px 20px 0 20px;
  -moz-border-radius: 20px 20px 0 20px;
  border-radius: 20px 20px 0 20px;
  right: 0;
}

.chat__room-message--show {
  transform: scale(0);
  transform-origin: 0 0;
  animation: bounce 500ms linear both;
}
