.header {
    display: flex;
    justify-content: space-between;
    background: var(--bc);
    color: var(--white);
    width: 100%;
    min-height: 5rem;
    align-items: center;
/*     it is to stand out from image profile */ 
    position: relative;
    z-index: 10;
    transition: background .2s linear;
}

.header__left {
    height: 100%;
    padding: 1rem 0;
    align-items: baseline;
    display: flex;
    gap: 2rem;
}

.ham_menu {
    margin: 0;
    width: 2em;
    height: 1.5em;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    -moz-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    -o-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    transition: .35s cubic-bezier(.175,.685,.32,1.175);
    cursor: pointer;
    z-index: 110;
}

/* possible create this to pseudo elements
 */
.ham_menu__bar {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--white);
    border-radius: 19px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    -moz-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    -o-transition: .35s cubic-bezier(.175,.685,.32,1.175);
    transition: .35s cubic-bezier(.175,.685,.32,1.175);
}

.ham_menu__bar_first {
    top: 0;
}
.ham_menu__bar_second {
    top: .75rem;
}
.ham_menu__bar_third {
    top: .75rem;
}
.ham_menu__bar_fourth {
    top: 1.5rem;
}

.ham_menu__bar_first--open {
    top: 2em;
    width: 0;
}
.ham_menu__bar_second--open {
    width: 100%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.ham_menu__bar_third--open {
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.ham_menu__bar_fourth--open {
    top: 18px;
    width: 0;
    left: 50%;
}