.profile_menu__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.profile_menu__container {
  position: relative;
}

.profile_menu {
  height: 100%;
  position: relative;
}

.profile_menu__picture_container {
  align-items: center;
  height: 100%;
  display: flex;
  cursor: pointer;
  padding: 0 1rem;
}

.profile_menu__picture {
  width: 2.85rem;
  height: 2.85rem;
  border-radius: 50%;
}

.profile_menu__dropdown {
  display: none;
  position: absolute;
  top: 3.8rem;
  right: 0;
  height: 200px;
  width: 200px;
  background: var(--bc-bright);
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.profile_menu__dropdown::after {
  content: '';
  left: 75%;
  bottom: 100%;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;
  border-bottom: 0.6em solid var(--bc-bright);
  transition: all 0.25s ease-in-out;
  z-index: 100;
  clear: both;
}

.profile_menu__dropdown--open {
  display: block;
}

.profile_menu__dropdown-item {
  transition: color 0.25s ease-in-out;
  padding: 1.5rem 0;
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  cursor: pointer;
}

.profile_menu__dropdown-item:hover {
  color: var(--gray);
}
