.searchbar {
  padding: 0.5rem;
  position: relative;
}

.searchbar__input {
  padding: 0.5rem 2rem;
  background: #f0f1f2;
  border-radius: 2rem;
  outline: none;
  border: none;
  /*   animation: shrink .1s both; */
  /*   transition: all .2s linear; */
}

.searchbar__input-icon {
  color: var(--black);
  position: absolute;
  left: 1rem;
  transform: translateY(50%);
}

.searchbar__results {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--black);
  background: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  width: 100%;
  padding: 0.5rem;
}

.searchbar__result {
  border-radius: 2rem;
  padding: 0.3rem;
  background: #f0f1f2;
  font-size: 14px;
  display: flex;
  transition: background 0.2s linear;
  cursor: pointer;
}

.searchbar__result:hover {
  background: var(--gray-light);
}

.searchbar__result-img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.searchbar__result-details {
  flex: 1;
}

.searchbar__input:focus {
  /*   animation: expand .1s both; */
  border: 1px solid #6c757d;
  box-shadow: 0 0 5px rgb(255, 255, 255, 1), 0 0 10px rgb(255, 255, 255, 1),
    0 0 10px rgb(255, 255, 255, 1), 0 0 20px rgb(255, 255, 255, 1);
}

@keyframes minExpand {
  0% {
    padding-right: 0;
  }
  100% {
    padding-right: 2rem;
  }
}

@keyframes expand {
  0% {
    padding-right: 0;
  }
  100% {
    padding-right: 10rem;
  }
}

@keyframes shrink {
  0% {
    padding-right: 3rem;
  }
  100% {
    padding-right: 0;
  }
}
