.searchbar {
  position: relative;
  z-index: 10;
  min-width: 250px;
  display: none;
}

.searchbar__input {
  min-width: 500px;
  padding: 0.5rem 2.5rem;
  background: #f0f1f2;
  border-radius: 1rem;
  width: 100%;
  outline: none;
  border: none;
}

.searchbar__input-icon {
  color: var(--black);
  position: absolute;
  left: 0.5rem;
  transform: translateY(40%);
}

.searchbar__results {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  color: var(--black);
  background: #fff;
  position: absolute;
  width: 100%;
}

.searchbar__result {
  padding: 0.5rem;
  background: #f0f1f2;
  font-size: 14px;
  display: flex;
  transition: background 0.2s linear;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  align-items: center;
}

.searchbar__result:hover {
  background: var(--gray-light);
}

.searchbar__result-img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.searchbar__result-details {
  flex: 1;
}

@media screen and (min-width: 600px) {
  .searchbar {
    display: block;
  }
}

@keyframes minExpand {
  0% {
    padding-right: 0;
  }
  100% {
    padding-right: 2rem;
  }
}

@keyframes expand {
  0% {
    padding-right: 0;
  }
  100% {
    padding-right: 10rem;
  }
}

@keyframes shrink {
  0% {
    padding-right: 3rem;
  }
  100% {
    padding-right: 0;
  }
}
