.form-login {
  height: 60%;
  width: 100%;

  @media screen and (max-width: 600px) {
    height: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
  }

  &__wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    @media screen and (max-width: 600px) {
      justify-content: flex-end;
    }
  }

  &__container {
    max-width: 500px;
    padding: 1rem;
    background: #fff;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 600px) {
      max-width: 600px;
      background: transparent;
    }

    @media screen and (max-width: 800px) {
      padding: 1rem 2rem;
      max-width: 300px;
      background: transparent;
    }

  }

  &__email-container, &__password-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  &__email, &__password {
    border: none;
    border-radius: 0.2rem;
    padding: 1rem;
    font-size: 16px;
    background: #fff;
    border: 1px solid #e6e6e6;
    transition: all 0.2s linear;

    &:focus {
      outline: none;
      border-color: #794bc4;
    }
  }

  &__error {
    color: rgb(160, 37, 37);
    font-size: 13px;
  }

  &__signup-link {
    color: #555;
    line-height: 1.4;
    font-size: 13px;
    margin: 0.5rem 0;
  }

  &__btn-container {
    display: flex;
    justify-content: flex-start;

    @media screen and (max-width: 600px) {
      justify-content: center;
    }
  }

  &__submit {
    background: #333;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    border: none;
    border-radius: 1.5rem;
    padding: 15px 30px;
    cursor: pointer;
    transition: background 0.2s linear;
  }

}