.login__container {
    display: flex;
    overflow: hidden;
}

.login__left {
    flex: .6;
    width: 100%;
    padding: 1rem 0;
    object-fit: contain;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    height: 1600px;
}

.login__left-img-container {
    object-fit: contain;
}

.login__left_img {
    position: absolute;
    width: 100%;
    filter: drop-shadow(10px 5px 5px #222222);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    height: 1920px;
}

.login__left_img--blur {
    filter: blur(10px)
}

.login__right {
    flex: .5;
    background: #ebebeb;
    margin: 1.1rem 0;
    z-index: 10;
    height: 1600px;
}

.login__right_reveal {
    align-items: flex-end;
    text-align: center;
}

.login__right_reveal-text {
    color: var(--black);
    opacity: 0;
}

.form__login {
    height: 60%;
    width: 100%;
}

.form__wrapper {
    display: flex;
    height: 100%;
/*     background: var(--bc-login); */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__container {
    max-width: 500px;
    padding: 1rem;
    background: #fff;
    width: 100%;
    margin: 0 auto;
}

.form__title {
    text-align: center;
    color: #555;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 400;
/*     animation: text-flicker 5s linear infinite; */
    transition: text-shadow .2s linear;
}

.form__title:hover {
    text-shadow: 5px 2px 2px #794bc4;
}

.form__email-container, .form__password-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form__email-label, .form__password-label {
    text-align: left;
    text-transform: uppercase;
    color: #555;
    line-height: 1.4;
    font-size: 13px;
}

.form__error {
    color: rgb(160, 37, 37);
    font-size: 13px;
}

.form__email, .form__password {
    border: none;
    border-radius: .2rem;
    padding: 1rem;
    font-size: 16px;
    background: #fff;
    border: 1px solid #e6e6e6;
    transition: all .2s linear;
}


.form__email:focus, .form__password:focus {
    outline: none;
    border-color: #794bc4;
}

.form__signup-link {
    color: #555;
    line-height: 1.4;
    font-size: 13px;
    margin: .5rem 0;
}

.form__btn {
    background:  #333;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    border: none;
    border-radius: 1.5rem;
    padding: 15px 30px;
    cursor: pointer;
    transition: background .2s linear;
}

.form__btn:hover {
    background: #fff;
    color: #333;
}
