.login__container {
  display: flex;
  overflow: hidden;
}

.login__left {
  flex: 0.6;
  width: 100%;
  padding: 1rem 0;
  object-fit: contain;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.login__left-img-container {
  object-fit: contain;
}

.login__left_img {
  position: absolute;
  width: 100%;
  filter: drop-shadow(10px 5px 5px #222222);
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  height: 1920px;
}

.login__left_img--blur {
  filter: blur(10px);
}

.login__right {
  flex: 0.5;
  background: #ebebeb;
  margin: 1.1rem 0;
  z-index: 10;
  height: 1600px;
}

.login__right_reveal {
  align-items: flex-end;
  text-align: center;
}

.login__right_reveal-text {
  color: var(--black);
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .login__container {
    overflow: unset;
    flex-direction: column;
  }
  .login__left {
    flex: 1;
  }
  .login__right {
    flex: unset;
  }
}

@media screen and (max-width: 800px) {
  .login__right {
    background: transparent;
  }
  .login__right_reveal-text {
    color: var(--white);
  }
}
