.polaroid__container {
  position: absolute;
  max-height: 400px;
  max-width: 300px;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.polaroid {
  position: absolute;
  border: 1px solid darkgrey;
  background-color: white;
  padding: 15px 15px 60px 15px;
  /*   box-shadow: 5px 10px 10px darkgrey; */
}

.polaroid__caption {
  position: relative;
  color: #000;
  bottom: -1rem;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.polaroid img {
  max-height: 400px;
  max-width: 300px;
  object-fit: cover;
}
